# Análise de datos con PANDAS

In [2]:
import pandas as pd

### Apertura do CSV

In [3]:

df = pd.DataFrame()

df = pd.read_csv("datos_covid2021_3paises.csv")

df

#df.to_csv?

      Unnamed: 0         dia    pais  contaxios  mortes
0              0  2021-01-01   Spain      18047     148
1              1  2021-01-02   Spain          0       0
2              2  2021-01-03   Spain          0       0
3              3  2021-01-04   Spain      30579     241
4              4  2021-01-05   Spain      23700     352
...          ...         ...     ...        ...     ...
1090        1090  2021-12-27  France      29614     245
1091        1091  2021-12-28  France     179316     294
1092        1092  2021-12-29  France     202293     173
1093        1093  2021-12-30  France     206243     180
1094        1094  2021-12-31  France     232200     189

[1095 rows x 5 columns]


### Limpia valores nulos e/ou inválidos/vacíos.

In [4]:
df = df.dropna()
df.describe()

        Unnamed: 0      contaxios       mortes
count  1095.000000    1095.000000  1095.000000
mean    547.000000   12094.346119    98.001826
std     316.243577   22131.971090   156.600004
min       0.000000       0.000000     0.000000
25%     273.500000     740.000000     6.000000
50%     547.000000    4197.000000    29.000000
75%     820.500000   14774.500000   126.500000
max    1094.000000  232200.000000  1163.000000

### 1. Calcula a media de novos casos ao día

In [5]:
media = df["contaxios"].mean()
media

12094.346118721462

### 2. Calcula a media de mortes ao día

In [6]:
muertes = df["mortes"].mean()
muertes

98.00182648401827

### 3. Calcula o número máximo de casos

In [7]:
maximo = df["contaxios"].max()
maximo

232200

### 4. Calcula o número medio de casos separado por grupos

In [8]:
dfContaxios = df['contaxios'].groupby(df["pais"]).sum()
dfContaxios

pais
France      7533137
Portugal     973378
Spain       4736794
Name: contaxios, dtype: int64

### 5. Existe unha correlación entre número de novos casos e mortes?

In [10]:
df[['contaxios','mortes']].corr()

           contaxios    mortes
contaxios   1.000000  0.385233
mortes      0.385233  1.000000

### 6. No caso de que exista unha relación, en que país é maior?

In [14]:
df.groupby('pais')[['contaxios','mortes']].corr()

                    contaxios    mortes
pais
France   contaxios   1.000000  0.298286
         mortes      0.298286  1.000000
Portugal contaxios   1.000000  0.563438
         mortes      0.563438  1.000000
Spain    contaxios   1.000000  0.323957
         mortes      0.323957  1.000000

### 7. Cal é a mediana de casos confirmados en Portugal?

In [ ]:
dfPortugal = df.loc[df['pais'] == 'Portugal'].copy()
medianaPort = dfPortugal['contaxios'].mean()
medianaPort

2666.7890410958903

### 8. Cales son os valores dos percentís Q1 e Q3 de Francia para o número de contaxios

In [ ]:
dfFrance = df.loc[df['pais'] == 'Portugal'].copy()
print('Quantil 1:',dfFrance['contaxios'].quantile(0.25))
print('Quantil 2:',dfFrance['contaxios'].quantile(0.75))

Quantil 1: 592.0
Quantil 2: 2898.0

### 9. Cantos valores diferentes hai para o número de contaxios nun día en cada un dos países

In [42]:
df.groupby(['pais','dia'])[['contaxios']].count()

                   contaxios
pais   dia
France 2021-01-01          1
       2021-01-02          1
       2021-01-03          1
       2021-01-04          1
       2021-01-05          1
...                      ...
Spain  2021-12-27          1
       2021-12-28          1
       2021-12-29          1
       2021-12-30          1
       2021-12-31          1

[1095 rows x 1 columns]

### 10. Valor mínimo e máximo de contaxios por día para cada país

In [41]:
df.groupby(['pais','dia'])['contaxios'].max()

pais    dia
France  2021-01-01     19143
        2021-01-02      3359
        2021-01-03     12489
        2021-01-04      4022
        2021-01-05     20280
                       ...
Spain   2021-12-27    214619
        2021-12-28     99671
        2021-12-29    100760
        2021-12-30    161688
        2021-12-31    161688
Name: contaxios, Length: 1095, dtype: int64

In [40]:
df.groupby(['pais','dia'])['contaxios'].min()

pais    dia
France  2021-01-01     19143
        2021-01-02      3359
        2021-01-03     12489
        2021-01-04      4022
        2021-01-05     20280
                       ...
Spain   2021-12-27    214619
        2021-12-28     99671
        2021-12-29    100760
        2021-12-30    161688
        2021-12-31    161688
Name: contaxios, Length: 1095, dtype: int64