In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("travel-times.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            205 non-null    object
 1   StartTime       205 non-null    object
 2   DayOfWeek       205 non-null    object
 3   GoingTo         205 non-null    object
 4   Distance        205 non-null    float64
 5   MaxSpeed        205 non-null    float64
 6   AvgSpeed        205 non-null    float64
 7   AvgMovingSpeed  205 non-null    float64
 8   FuelEconomy     188 non-null    object
 9   TotalTime       205 non-null    float64
 10  MovingTime      205 non-null    float64
 11  Take407All      205 non-null    object
 12  Comments        24 non-null     object
dtypes: float64(6), object(7)
memory usage: 20.9+ KB

In [3]:
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

### Calcular o endtime

In [19]:
import datetime

endTime = []

for indice, fila in df.iterrows():

    timeParts = [int(s) for s in df['StartTime'][indice].split(':')]
    print(timeParts)

    totalMin = (timeParts[0] * 60 + timeParts[1])
    
    totalSecs, sec = divmod(totalMin, 60)
    print(totalSecs)
    print(sec)

    hr, min = divmod(totalSecs, 60)

    print("%d:%02d" % (hr, min))

[16, 37]
16
37
0:16
[8, 20]
8
20
0:08
[16, 17]
16
17
0:16
[7, 53]
7
53
0:07
[18, 57]
18
57
0:18
[7, 57]
7
57
0:07
[17, 31]
17
31
0:17
[7, 34]
7
34
0:07
[8, 1]
8
1
0:08
[17, 19]
17
19
0:17
[8, 16]
8
16
0:08
[7, 45]
7
45
0:07
[16, 5]
16
5
0:16
[6, 4]
6
4
0:06
[16, 18]
16
18
0:16
[7, 34]
7
34
0:07
[12, 22]
12
22
0:12
[7, 21]
7
21
0:07
[16, 14]
16
14
0:16
[7, 19]
7
19
0:07
[16, 20]
16
20
0:16
[7, 23]
7
23
0:07
[17, 43]
17
43
0:17
[7, 25]
7
25
0:07
[7, 20]
7
20
0:07
[12, 4]
12
4
0:12
[7, 22]
7
22
0:07
[17, 41]
17
41
0:17
[7, 14]
7
14
0:07
[16, 12]
16
12
0:16
[7, 18]
7
18
0:07
[17, 24]
17
24
0:17
[7, 24]
7
24
0:07
[16, 18]
16
18
0:16
[16, 15]
16
15
0:16
[7, 24]
7
24
0:07
[16, 11]
16
11
0:16
[7, 19]
7
19
0:07
[16, 52]
16
52
0:16
[7, 23]
7
23
0:07
[16, 16]
16
16
0:16
[7, 26]
7
26
0:07
[16, 15]
16
15
0:16
[7, 23]
7
23
0:07
[16, 17]
16
17
0:16
[7, 22]
7
22
0:07
[16, 15]
16
15
0:16
[7, 27]
7
27
0:07
[16, 50]
16
50
0:16
[7, 24]
7
24
0:07
[16, 16]
16
16
0:16
[7, 42]
7
42
0:07
[16, 13]
16
13
0:16
[7, 26]
7
26
0:07
[17, 36]
17
36
0:17
[7, 21]
7
21
0:07
[16, 15]
16
15
0:16
[7, 19]
7
19
0:07
[16, 11]
16
11
0:16
[7, 25]
7
25
0:07
[16, 15]
16
15
0:16
[7, 25]
7
25
0:07
[17, 24]
17
24
0:17
[7, 25]
7
25
0:07
[16, 5]
16
5
0:16
[7, 19]
7
19
0:07
[12, 12]
12
12
0:12
[8, 16]
8
16
0:08
[17, 0]
17
0
0:17
[7, 46]
7
46
0:07
[16, 45]
16
45
0:16
[7, 51]
7
51
0:07
[8, 13]
8
13
0:08
[15, 49]
15
49
0:15
[6, 21]
6
21
0:06
[12, 14]
12
14
0:12
[8, 20]
8
20
0:08
[8, 20]
8
20
0:08
[17, 24]
17
24
0:17
[8, 13]
8
13
0:08
[17, 29]
17
29
0:17
[8, 31]
8
31
0:08
[17, 37]
17
37
0:17
[8, 22]
8
22
0:08
[17, 39]
17
39
0:17
[8, 24]
8
24
0:08
[17, 28]
17
28
0:17
[8, 14]
8
14
0:08
[16, 58]
16
58
0:16
[8, 22]
8
22
0:08
[8, 36]
8
36
0:08
[17, 47]
17
47
0:17
[8, 28]
8
28
0:08
[17, 17]
17
17
0:17
[8, 25]
8
25
0:08
[12, 15]
12
15
0:12
[8, 23]
8
23
0:08
[17, 58]
17
58
0:17
[8, 22]
8
22
0:08
[17, 10]
17
10
0:17
[8, 36]
8
36
0:08
[17, 39]
17
39
0:17
[7, 42]
7
42
0:07
[17, 31]
17
31
0:17
[7, 41]
7
41
0:07
[17, 17]
17
17
0:17
[8, 22]
8
22
0:08
[17, 53]
17
53
0:17
[7, 57]
7
57
0:07
[17, 26]
17
26
0:17
[7, 36]
7
36
0:07
[17, 37]
17
37
0:17
[8, 2]
8
2
0:08
[17, 27]
17
27
0:17
[7, 37]
7
37
0:07
[18, 5]
18
5
0:18
[8, 2]
8
2
0:08
[17, 20]
17
20
0:17
[8, 10]
8
10
0:08
[16, 43]
16
43
0:16
[6, 34]
6
34
0:06
[17, 50]
17
50
0:17
[8, 8]
8
8
0:08
[17, 36]
17
36
0:17
[8, 11]
8
11
0:08
[17, 22]
17
22
0:17
[7, 51]
7
51
0:07
[17, 4]
17
4
0:17
[8, 5]
8
5
0:08
[16, 37]
16
37
0:16
[7, 23]
7
23
0:07
[17, 24]
17
24
0:17
[7, 57]
7
57
0:07
[16, 27]
16
27
0:16
[7, 50]
7
50
0:07
[17, 7]
17
7
0:17
[7, 39]
7
39
0:07
[17, 33]
17
33
0:17
[8, 8]
8
8
0:08
[17, 14]
17
14
0:17
[8, 9]
8
9
0:08
[17, 38]
17
38
0:17
[7, 57]
7
57
0:07
[17, 11]
17
11
0:17
[7, 48]
7
48
0:07
[16, 29]
16
29
0:16
[7, 49]
7
49
0:07
[17, 39]
17
39
0:17
[9, 9]
9
9
0:09
[16, 47]
16
47
0:16
[7, 59]
7
59
0:07
[17, 23]
17
23
0:17
[7, 54]
7
54
0:07
[16, 44]
16
44
0:16
[7, 49]
7
49
0:07
[17, 42]
17
42
0:17
[7, 5]
7
5
0:07
[17, 5]
17
5
0:17
[8, 11]
8
11
0:08
[17, 17]
17
17
0:17
[8, 10]
8
10
0:08
[17, 27]
17
27
0:17
[8, 15]
8
15
0:08
[17, 38]
17
38
0:17
[8, 15]
8
15
0:08
[17, 25]
17
25
0:17
[8, 5]
8
5
0:08
[17, 25]
17
25
0:17
[8, 13]
8
13
0:08
[17, 14]
17
14
0:17
[8, 13]
8
13
0:08
[17, 13]
17
13
0:17
[8, 15]
8
15
0:08
[17, 5]
17
5
0:17
[8, 7]
8
7
0:08
[17, 0]
17
0
0:17
[8, 20]
8
20
0:08
[17, 38]
17
38
0:17
[8, 17]
8
17
0:08
[17, 14]
17
14
0:17
[8, 6]
8
6
0:08
[17, 22]
17
22
0:17
[7, 38]
7
38
0:07
[20, 31]
20
31
0:20
[8, 22]
8
22
0:08
[17, 46]
17
46
0:17
[8, 11]
8
11
0:08
[17, 24]
17
24
0:17
[8, 15]
8
15
0:08
[17, 15]
17
15
0:17
[8, 11]
8
11
0:08
[16, 59]
16
59
0:16
[8, 6]
8
6
0:08
[16, 47]
16
47
0:16
[8, 28]
8
28
0:08
[7, 59]
7
59
0:07
[17, 17]
17
17
0:17
[8, 24]
8
24
0:08
[17, 17]
17
17
0:17
[8, 11]
8
11
0:08
[8, 9]
8
9
0:08
[8, 3]
8
3
0:08
[17, 8]
17
8
0:17
[17, 51]
17
51
0:17
[16, 56]
16
56
0:16

1. Calcula o endtime (StartTime + TotalTime).

In [4]:
df['EndTime'] = (pd.to_datetime(df['StartTime'],format="%H:%M")+pd.TimedeltaIndex(df['TotalTime'],'m')).dt.strftime("%H:%M")
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments,EndTime
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN,17:16
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN,08:57
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN,16:54
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN,08:32
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN,19:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN,09:14
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN,08:43
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN,18:02
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN,18:42
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN,17:45

2. Agrupa por día da semana e indica a media que lle leva chegar (TotalTime) por día da semana

In [18]:
df.groupby('Date')['TotalTime'].sum()/2

Date
1/2/2012      37.55
1/3/2012      36.80
1/4/2012      38.65
1/6/2012      38.60
10/11/2011    40.15
              ...
9/28/2011     34.25
9/29/2011     41.80
9/6/2011      33.80
9/7/2011      47.60
9/8/2011      50.40
Name: TotalTime, Length: 111, dtype: float64

3. Fai un delta (diferencia) entre o TotalTime e o MovingTime. Indica cal foi o día con maior diferencia e o de menor diferencia.

In [32]:
df2 = df[['Date','TotalTime','MovingTime']].copy()
df2['Delta'] = df2['TotalTime'] - df2['MovingTime']
print("Delta máximo:",df2['Delta'].max())
print("Delta mínimo:",df2['Delta'].min())

Delta máximo: 25.799999999999997
Delta mínimo: 0.0

4. Agrupa os datos por día da semana collendo a media de tempo (o delta do apartado anterior) e indica o día da semana de menor e maior diferencia.

In [34]:
df2.groupby('Date')['Delta']

5. Elimina as columnas na que máis da metade dos valores sexan nulos.

In [67]:
mitad = len(df.columns)/2
#No borrará ninguno porque no hay ninguna fila con mas de 2 valores nulos
for i in df.index:
    if df.iloc[i].isna().sum() > mitad:
        df.drop(index=i)

Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar
Borrar

6. Visualiza o número de nulos de cada columna.

In [77]:
df.isna().sum()

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy        17
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
EndTime             0
dtype: int64

7. Substitúe os valores nulos empregando o valor da fila anterior (method='ffil').

In [76]:
#Pendiente

df.ffill(axis = 1)
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments,EndTime
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN,17:16
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN,08:57
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN,16:54
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN,08:32
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN,19:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN,09:14
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN,08:43
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN,18:02
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN,18:42
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN,17:45

8. Os primeiros valores son NaN, debemos corrixilo substituíndo estes valores polos anteriores (method='bfill').