In [3]:
import pandas as pd

In [2]:
df = pd.read_csv("inflacion_por_pais_1960-2022.csv")
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN,NaN
1,NaN,AFE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.370290,5.245878,6.571396,6.399343,4.720811,4.653665,7.321106,6.824727,10.773751,NaN
2,Afganistán,AFG,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN,NaN
3,NaN,AFW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.768436,2.130817,1.487416,1.764635,1.784050,1.760112,2.437609,3.653533,7.967574,NaN
4,Angola,AGO,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691,11.580510,NaN
262,"Yemen, Rep. del",YEM,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Sudáfrica,ZAF,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,...,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672,7.039727,NaN
264,Zambia,ZMB,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.733060,22.020768,10.993204,NaN
265,Zimbabwe,ZWE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105,104.705171,NaN

### Recorrer cada pais para saber desde que año tenemos datos sobre la inflacion para todos los paises

In [3]:
df_s = pd.read_csv("salario_medio.csv")
df_s.columns

Index(['Unnamed: 0', 'fecha', 'salario medio (€)', 'pais'], dtype='object')

In [4]:
df_s.groupby("pais").count()

                 Unnamed: 0  fecha  salario medio (€)
pais
Alemania                 23     23                 23
Australia                23     23                 23
Austria                  23     23                 23
Bulgaria                 27     27                 27
Bélgica                  23     23                 23
Canadá                   23     23                 23
Chile                    23     23                 23
Chipre                   10     10                 10
Colombia                 23     23                 23
Corea del Sur            23     23                 23
Costa Rica               23     23                 23
Croacia                  10     10                 10
Dinamarca                23     23                 23
Eslovaquia               23     23                 23
Eslovenia                23     23                 23
España                   23     23                 23
Estados Unidos           23     23                 23
Estonia                  23     23                 23
Finlandia                23     23                 23
Francia                  23     23                 23
Grecia                   23     23                 23
Hungría                  23     23                 23
Irlanda                  23     23                 23
Islandia                 23     23                 23
Israel                   23     23                 23
Italia                   23     23                 23
Japón                    23     23                 23
Letonia                  27     27                 27
Lituania                 28     28                 28
Luxemburgo               23     23                 23
Malta                    18     18                 18
México                   23     23                 23
Noruega                  23     23                 23
Nueva Zelanda            23     23                 23
Países Bajos             23     23                 23
Polonia                  23     23                 23
Portugal                 23     23                 23
Reino Unido              23     23                 23
República Checa          23     23                 23
Rumania                  27     27                 27
Suecia                   23     23                 23
Suiza                    23     23                 23
Turquía                  19     19                 19

In [5]:
df_s.groupby("fecha").count()

       Unnamed: 0  salario medio (€)  pais
fecha
1995            1                  1     1
1996            4                  4     4
1997            4                  4     4
1998            4                  4     4
1999            4                  4     4
2000           39                 39    39
2001           39                 39    39
2002           39                 39    39
2003           39                 39    39
2004           40                 40    40
2005           42                 42    42
2006           42                 42    42
2007           42                 42    42
2008           41                 41    41
2009           41                 41    41
2010           41                 41    41
2011           41                 41    41
2012           41                 41    41
2013           42                 42    42
2014           43                 43    43
2015           42                 42    42
2016           42                 42    42
2017           43                 43    43
2018           43                 43    43
2019           43                 43    43
2020           43                 43    43
2021           43                 43    43
2022           43                 43    43

In [6]:
df_s.groupby("pais").all()

                 Unnamed: 0  fecha  salario medio (€)
pais
Alemania               True   True               True
Australia              True   True               True
Austria                True   True               True
Bulgaria               True   True               True
Bélgica                True   True               True
Canadá                 True   True               True
Chile                  True   True               True
Chipre                 True   True               True
Colombia               True   True               True
Corea del Sur          True   True               True
Costa Rica             True   True               True
Croacia                True   True               True
Dinamarca              True   True               True
Eslovaquia             True   True               True
Eslovenia              True   True               True
España                False   True               True
Estados Unidos         True   True               True
Estonia                True   True               True
Finlandia              True   True               True
Francia                True   True               True
Grecia                 True   True               True
Hungría                True   True               True
Irlanda                True   True               True
Islandia               True   True               True
Israel                 True   True               True
Italia                 True   True               True
Japón                  True   True               True
Letonia                True   True               True
Lituania               True   True               True
Luxemburgo             True   True               True
Malta                  True   True               True
México                 True   True               True
Noruega                True   True               True
Nueva Zelanda          True   True               True
Países Bajos           True   True               True
Polonia                True   True               True
Portugal               True   True               True
Reino Unido            True   True               True
República Checa        True   True               True
Rumania                True   True               True
Suecia                 True   True               True
Suiza                  True   True               True
Turquía                True   True               True

In [7]:
df_s.groupby(by=["pais"])

In [8]:
# Ya esta modificado con los nombres cambiados del otro dataset
nombre_paises = ["Alemania", "Australia", "Austria", "Bulgaria", "Bélgica", "Canadá", "República Checa", "Chile", "Chipre", 
                 "Colombia", "Corea del Sur" , "Costa Rica", "Croacia", "Dinamarca", "Eslovaquia", "Eslovenia", 
                 "España", "Estados Unidos", "Estonia", "Finlandia", "Francia", "Grecia", "Hungría", "Irlanda", 
                 "Islandia", "Israel", "Italia", "Japón",  "Letonia", "Lituania", "Luxemburgo", "Malta", "México", 
                 "Noruega", "Nueva Zelanda", "Países Bajos", "Polonia", "Portugal", "Reino Unido", "Rumania", "Suecia", 
                 "Suiza", "Turquía"]

In [9]:
len(nombre_paises)

43

In [10]:
# nombre_paises

# Chequia -> República Checa
# Corea del Sur -> Corea, República de
# Eslovaquia -> República Eslovaca
# Nueva Zelanda -> Nueva Zelandia
# Rumanía -> Rumania
# Türkiye -> Turquía

In [11]:
nombres = []
df_paises = df.copy()
for i, name in enumerate(df["Country Name"]):
    if (name not in nombre_paises):
        df_paises = df_paises.drop(index=i)
    else:
        nombre_paises.remove(name)

In [12]:
nombre_paises

[]

In [13]:
df_paises.shape

(43, 68)

In [14]:
df_paises = df_paises.dropna(axis=1)
df_paises.reset_index()

,index,Country Name,Country Code,Indicator Name,Indicator Code,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,13,Australia,AUS,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.753653,1.969635,4.627767,2.615385,0.224888,...,2.449889,2.487923,1.508367,1.276991,1.948647,1.911401,1.610768,0.846906,2.863910,6.594097
1,14,Austria,AUT,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,3.631785,2.953409,2.243366,1.860971,1.305979,...,2.000156,1.605812,0.896563,0.891592,2.081269,1.998380,1.530896,1.381911,2.766667,8.546870
2,17,Bélgica,BEL,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,2.754426,2.377541,1.467967,2.077021,1.628160,...,1.113096,0.340003,0.561429,1.973853,2.125971,2.053165,1.436820,0.740792,2.440249,9.597512
3,21,Bulgaria,BGR,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,72.878791,96.057338,62.054834,121.607542,1058.373559,...,0.890094,-1.418184,-0.104633,-0.798650,2.061596,2.814545,3.103729,1.672441,3.297744,15.325259
4,35,Canadá,CAN,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.865079,0.165563,2.148760,1.570531,1.621216,...,0.938292,1.906636,1.125241,1.428760,1.596884,2.268226,1.949269,0.717000,3.395193,6.802801
5,37,Suiza,CHE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,3.292622,0.852117,1.799828,0.811634,0.520225,...,-0.217323,-0.013203,-1.143909,-0.434619,0.533788,0.936335,0.362886,-0.725875,0.581814,2.835028
6,39,Chile,CHL,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,12.727767,11.443120,8.232630,7.359118,6.133865,...,1.789556,4.718675,4.348774,3.786194,2.182718,2.434890,2.557545,3.045491,4.524568,11.643867
7,45,Colombia,COL,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,22.442483,22.846242,20.891793,20.797576,18.470022,...,2.016992,2.898838,4.989831,7.513460,4.314313,3.240569,3.523019,2.526635,3.495058,10.177231
8,48,Costa Rica,CRI,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,9.778601,13.534469,23.186498,17.511452,13.248044,...,5.231336,4.519201,0.801982,-0.017479,1.625907,2.221115,2.096046,0.724911,1.726478,8.274775
9,53,Chipre,CYP,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.854167,4.698589,2.615818,2.978925,3.605344,...,-0.399358,-1.354989,-2.096998,-1.429167,0.531766,1.435491,0.250371,-0.638423,2.446089,8.395483
10,54,República Checa,CZE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,20.813030,10.039430,8.990524,8.758775,8.596157,...,1.438298,0.343989,0.309365,0.683504,2.450534,2.149495,2.847876,3.161295,3.839845,15.100165
11,55,Alemania,DEU,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.474577,2.693056,1.706160,1.449727,1.939372,...,1.504723,0.906794,0.514426,0.491747,1.509495,1.732169,1.445660,0.144878,3.066667,6.872574
12,58,Dinamarca,DNK,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.257857,1.992015,2.083608,2.126298,2.182167,...,0.789072,0.564021,0.452034,0.250000,1.147132,0.813609,0.758132,0.420712,1.853045,7.696567
13,70,España,ESP,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.569072,4.718414,4.673803,3.558846,1.971074,...,1.408581,-0.151115,-0.500366,-0.202598,1.956076,1.674981,0.699519,-0.322753,3.093135,8.390576
14,71,Estonia,EST,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,89.811949,47.654691,28.776614,23.050343,10.581879,...,2.780567,-0.106175,-0.492326,0.148685,3.417235,3.436327,2.277259,-0.444531,4.653167,19.398263
15,75,Finlandia,FIN,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,2.190653,1.088557,0.791239,0.629194,1.192559,...,1.478286,1.041196,-0.207929,0.356685,0.754015,1.083821,1.024094,0.290555,2.194574,7.123508
16,77,Francia,FRA,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,2.104463,1.655515,1.796481,1.982884,1.203943,...,0.863715,0.507759,0.037514,0.183335,1.032283,1.850815,1.108255,0.476499,1.642331,5.222367
17,81,Reino Unido,GBR,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,2.558578,2.219013,2.697495,2.851782,2.201143,...,2.291667,1.451120,0.368047,1.008417,2.557756,2.292840,1.738105,0.989487,2.518371,7.922049
18,89,Grecia,GRC,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,14.411264,10.874076,8.934514,8.194552,5.536003,...,-0.921269,-1.312261,-1.735888,-0.825654,1.121255,0.625621,0.253008,-1.247984,1.223825,9.645260
19,99,Croacia,HRV,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1500.000000,107.327586,3.950104,4.300000,4.170662,...,2.216582,-0.215196,-0.464499,-1.125000,1.129372,1.500125,0.771820,0.154811,2.554507,10.780581
20,101,Hungría,HUN,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,22.464235,18.868075,28.305468,23.469030,18.305074,...,1.733200,-0.227566,-0.061645,0.394769,2.348243,2.850248,3.338586,3.326744,5.110965,14.608144
21,111,Irlanda,IRL,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.469421,2.309199,2.524867,1.753732,1.525605,...,0.508715,0.182542,-0.289879,0.008306,0.340532,0.488370,0.939044,-0.334585,2.358143,7.807375
22,114,Islandia,ISL,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.042853,1.552656,1.651232,2.260419,1.815431,...,3.872279,2.044615,1.633056,1.696928,1.760416,2.682918,3.013972,2.847924,4.444240,8.308755
23,115,Israel,ISR,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,10.923818,12.275508,9.931447,11.416693,8.969575,...,1.570255,0.479787,-0.601291,-0.551552,0.259415,0.794076,0.849783,-0.614412,1.510200,4.393597
24,116,Italia,ITA,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.626735,4.051842,5.235423,4.006977,2.043108,...,1.219993,0.241047,0.038790,-0.094017,1.226533,1.137488,0.611247,-0.137708,1.873783,8.201290
25,119,Japón,JPN,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.243046,0.695458,-0.127899,0.136600,1.747805,...,0.335038,2.759227,0.795280,-0.127259,0.484200,0.989095,0.468776,-0.024996,-0.233353,2.497703
26,126,Corea del Sur,KOR,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.800997,6.265860,4.480741,4.924544,4.438932,...,1.301348,1.274774,0.706332,0.971686,1.944332,1.475839,0.383000,0.537288,2.498333,5.087888
27,143,Lituania,LTU,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,410.451859,72.254682,39.647629,24.625195,8.881048,...,1.047479,0.103758,-0.884097,0.905525,3.722889,2.697928,2.334509,1.199894,4.683544,19.705046
28,144,Luxemburgo,LUX,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,3.588098,2.194765,1.867694,1.183860,1.367513,...,1.734040,0.628544,0.474743,0.290833,1.730800,1.528195,1.743321,0.819957,2.526920,6.336008
29,145,Letonia,LVA,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,108.989541,35.924705,24.975936,17.610470,8.447383,...,-0.029455,0.620491,0.174242,0.140633,2.930363,2.534454,2.811409,0.219065,3.275829,17.310283
30,154,México,MEX,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,9.751460,6.965812,34.999271,34.378383,20.625629,...,3.806391,4.018616,2.720641,2.821708,6.041457,4.899350,3.635961,3.396834,5.689208,7.896276
31,159,Malta,MLT,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.144820,4.129922,4.426646,2.054000,3.112078,...,1.180284,0.310306,1.100548,0.642703,1.364354,1.157824,1.642060,0.638545,1.497892,6.153756
32,176,Países Bajos,NLD,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,2.584184,2.801525,1.923220,1.949367,2.109246,...,2.506899,0.976035,0.600248,0.316667,1.381459,1.703498,2.633699,1.272460,2.675720,10.001208
33,177,Noruega,NOR,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,2.288269,1.375675,2.460368,1.262532,2.566923,...,2.120486,2.041703,2.171137,3.550000,1.875101,2.764831,2.167730,1.286585,3.483881,5.764123
34,180,Nueva Zelanda,NZL,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.288208,1.745378,3.754944,2.285713,1.187148,...,1.134423,1.227508,0.292705,0.646240,1.850788,1.598297,1.619632,1.714562,3.941121,7.172225
35,190,Polonia,POL,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,36.964167,32.991277,27.951389,19.794967,14.913159,...,0.991983,0.053821,-0.874126,-0.664767,2.075936,1.812952,2.227479,3.374470,5.055027,14.429451
36,194,Portugal,PRT,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,6.783780,5.420440,4.222816,3.068977,2.336863,...,0.274417,-0.278153,0.487939,0.607397,1.368614,0.993716,0.338178,-0.012438,1.265657,7.832691
37,201,Rumania,ROU,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,255.166862,136.759393,32.242485,38.829301,154.763480,...,3.984712,1.068310,-0.594156,-1.544797,1.339021,4.625484,3.827854,2.631073,5.052329,13.795489
38,221,Eslovaquia,SVK,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,23.287028,13.415520,9.841096,5.775828,6.141990,...,1.400474,-0.076165,-0.325220,-0.520010,1.311946,2.514037,2.664561,1.936941,3.149606,12.774146
39,222,Eslovenia,SVN,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,31.762131,20.991818,13.463730,9.864451,8.359680,...,1.769201,0.199344,-0.525552,-0.055000,1.429107,1.738609,1.630523,-0.054857,1.917065,8.833699
40,223,Suecia,SWE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,4.728173,2.158138,2.455149,0.533132,0.658410,...,-0.044293,-0.179638,-0.046785,0.984269,1.794499,1.953535,1.784151,0.497367,2.163197,8.369291
41,244,Turquía,TUR,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,66.093843,105.214986,89.113317,80.412151,85.669362,...,7.493090,8.854573,7.670854,7.775134,11.144311,16.332464,15.176822,12.278957,19.596493,72.308836
42,251,Estados Unidos,USA,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,2.951657,2.607442,2.805420,2.931204,2.337690,...,1.464833,1.622223,0.118627,1.261583,2.130110,2.442583,1.812210,1.233584,4.697859,8.002800

### Obtener para cada año, de cada pais, los valores correspondientes

In [15]:
col_years = [1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
valores = []

for index in df_paises.index:
    valor = []
    for col in col_years:
        valor.append(df_paises[str(col)][index])
    valores.append(valor)

In [16]:
max = 0
for i in range(len(valores)):
    if (sum(valores[i]) > max):
        print(i)
        max = sum(valores[i])

print(max)

0
3
19
1685.926957046266

In [24]:
pd.DataFrame.to_csv(df_paises,"inflacion_pais.csv")

In [69]:
df_paises2 = pd.read_csv("inflacion_pais.csv",sep=";",decimal=",")

In [19]:
nombres = df_paises2["Country Name"]

In [4]:
df_salario = pd.read_csv("salario_medio.csv")

In [7]:
df_salario = df_salario.sort_values(["pais","fecha"]).reset_index()
df_salario = df_salario.drop(["index","Unnamed: 0.1","Unnamed: 0"],axis=1)

In [8]:
df_salario

     fecha salario medio (€)      pais
0     2000          34.400 €  Alemania
1     2001          35.200 €  Alemania
2     2002          36.400 €  Alemania
3     2003          37.200 €  Alemania
4     2004          38.100 €  Alemania
..     ...               ...       ...
966   2018           8.586 €   Turquía
967   2019           9.727 €   Turquía
968   2020           9.055 €   Turquía
969   2021           8.275 €   Turquía
970   2022           7.889 €   Turquía

[971 rows x 3 columns]

In [9]:
pd.DataFrame.to_csv(df_salario,"salario_medio.csv")

In [5]:
df_salario

     Unnamed: 0  fecha salario medio (€)      pais
368         368   2000          34.400 €  Alemania
367         367   2001          35.200 €  Alemania
366         366   2002          36.400 €  Alemania
365         365   2003          37.200 €  Alemania
364         364   2004          38.100 €  Alemania
..          ...    ...               ...       ...
373         373   2018           8.586 €   Turquía
372         372   2019           9.727 €   Turquía
371         371   2020           9.055 €   Turquía
370         370   2021           8.275 €   Turquía
369         369   2022           7.889 €   Turquía

[971 rows x 4 columns]

In [21]:
nombre_pais = df_salario["pais"].unique()

In [22]:
for i in nombres:
    if i not in nombre_pais:
        print(i)

In [56]:
col_years = [1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
value = []
for i in col_years:

    df_paises2[str(i)] = df_paises2[str(i)].round(3)

In [2]:
pd.DataFrame.to_csv(df_paises2,"inflacion_pais.csv", sep=";",decimal=",")

NameError: name 'df_paises2' is not defined

In [70]:

df_paises2 = df_paises2.drop(["Unnamed: 0.1", "Unnamed: 0", "Indicator Name","1993","1994"],axis=1)

In [71]:
df_new = df_paises2.melt(id_vars=["Country Name", "Country Code", "Indicator Code"], 
        var_name="Date", 
        value_name="Value")

In [72]:
df_new = df_new.sort_values(["Country Name", "Date"])
df_new = df_new.reset_index()

In [77]:
df_new = df_new.drop("index",axis=1)

In [78]:
df_new

     Country Name Country Code  Indicator Code  Date   Value
0        Alemania          DEU  FP.CPI.TOTL.ZG  1995   1.706
1        Alemania          DEU  FP.CPI.TOTL.ZG  1996   1.450
2        Alemania          DEU  FP.CPI.TOTL.ZG  1997   1.939
3        Alemania          DEU  FP.CPI.TOTL.ZG  1998   0.911
4        Alemania          DEU  FP.CPI.TOTL.ZG  1999   0.585
...           ...          ...             ...   ...     ...
1199      Turquía          TUR  FP.CPI.TOTL.ZG  2018  16.332
1200      Turquía          TUR  FP.CPI.TOTL.ZG  2019  15.177
1201      Turquía          TUR  FP.CPI.TOTL.ZG  2020  12.279
1202      Turquía          TUR  FP.CPI.TOTL.ZG  2021  19.596
1203      Turquía          TUR  FP.CPI.TOTL.ZG  2022  72.309

[1204 rows x 5 columns]

In [79]:
pd.DataFrame.to_csv(df_new,"inflacion_pais_melt.csv", sep=";",decimal=",")

In [51]:
df_new.describe()

             Value
count  1204.000000
mean      5.291679
std      31.878198
min      -4.478000
25%       1.274250
50%       2.363000
75%       4.069000
max    1058.374000