In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("inflacion_por_pais_1960-2022.csv")
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN,NaN
1,NaN,AFE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.370290,5.245878,6.571396,6.399343,4.720811,4.653665,7.321106,6.824727,10.773751,NaN
2,Afganistán,AFG,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN,NaN
3,NaN,AFW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.768436,2.130817,1.487416,1.764635,1.784050,1.760112,2.437609,3.653533,7.967574,NaN
4,Angola,AGO,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691,11.580510,NaN
262,"Yemen, Rep. del",YEM,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Sudáfrica,ZAF,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,...,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672,7.039727,NaN
264,Zambia,ZMB,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.733060,22.020768,10.993204,NaN
265,Zimbabwe,ZWE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105,104.705171,NaN

### Recorrer cada pais para saber desde que año tenemos datos sobre la inflacion para todos los paises

In [3]:
df_s = pd.read_csv("salario_medio.csv")
df_s.columns

Index(['Unnamed: 0', 'fecha', 'salario medio (€)', 'pais'], dtype='object')

In [10]:
df_s.groupby("pais").all()

                Unnamed: 0  fecha  salario medio (€)
pais
Alemania              True   True               True
Australia             True   True               True
Austria               True   True               True
Bulgaria              True   True               True
Bélgica               True   True               True
Canadá                True   True               True
Chequia               True   True               True
Chile                 True   True               True
Chipre                True   True               True
Colombia              True   True               True
Corea del Sur         True   True               True
Costa Rica            True   True               True
Croacia               True   True               True
Dinamarca             True   True               True
Eslovaquia            True   True               True
Eslovenia             True   True               True
España               False   True               True
Estados Unidos        True   True               True
Estonia               True   True               True
Finlandia             True   True               True
Francia               True   True               True
Grecia                True   True               True
Hungría               True   True               True
Irlanda               True   True               True
Islandia              True   True               True
Israel                True   True               True
Italia                True   True               True
Japón                 True   True               True
Letonia               True   True               True
Lituania              True   True               True
Luxemburgo            True   True               True
Malta                 True   True               True
México                True   True               True
Noruega               True   True               True
Nueva Zelanda         True   True               True
Países Bajos          True   True               True
Polonia               True   True               True
Portugal              True   True               True
Reino Unido           True   True               True
Rumanía               True   True               True
Suecia                True   True               True
Suiza                 True   True               True
Türkiye               True   True               True

In [4]:
df_s.groupby(by=["pais"])

In [11]:
# Ya esta modificado con los nombres cambiados del otro dataset
nombre_paises = ["Alemania", "Australia", "Austria", "Bulgaria", "Bélgica", "Canadá", "República Checa", "Chile", "Chipre", 
                 "Colombia", "Corea del Sur" , "Costa Rica", "Croacia", "Dinamarca", "Eslovaquia", "Eslovenia", 
                 "España", "Estados Unidos", "Estonia", "Finlandia", "Francia", "Grecia", "Hungría", "Irlanda", 
                 "Islandia", "Israel", "Italia", "Japón",  "Letonia", "Lituania", "Luxemburgo", "Malta", "México", 
                 "Noruega", "Nueva Zelandia", "Países Bajos", "Polonia", "Portugal", "Reino Unido", "Rumania", "Suecia", 
                 "Suiza", "Turquía"]

In [24]:
contador = 0
for name in df["Country Name"]:
    if (nombre_paises.__contains__(name)):
        # nombre_paises.remove(name)
        print(f"Nombre en df: {name}  Nombre_paises: {nombre_paises[contador]}")
        contador += 1

print(contador)

0

In [23]:
nombre_paises
# Chequia -> República Checa
# Corea del Sur -> Corea, República de
# Eslovaquia -> República Eslovaca
# Nueva Zelanda -> Nueva Zelandia
# Rumanía -> Rumania
# Türkiye -> Turquía

['Chequia',
 'Corea del Sur',
 'Eslovaquia',
 'Nueva Zelanda',
 'Rumanía',
 'Türkiye']