In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df_infacion = pd.read_csv("inflacion_pais_melt.csv",sep=";",decimal=",")
df_salamedio = pd.read_csv("salario_medio.csv")

In [27]:
df_infacion = df_infacion[(df_infacion["Date"] >= 2000)]

In [31]:
pd.DataFrame.to_csv(df_infacion,"inflacion_pais_2.csv", sep=";",decimal=",")

In [5]:
df_infacion = df_infacion.drop("Unnamed: 0",axis=1)

In [6]:
salario = df_salamedio["salario medio (€)"]
fecha = df_salamedio["fecha"]
valor = df_infacion["Value"]
pais = df_salamedio["pais"]

In [22]:
fecha

0      2022
1      2021
2      2020
3      2019
4      2018
       ...
966    2004
967    2003
968    2002
969    2001
970    2000
Name: fecha, Length: 971, dtype: int64

In [16]:
# [fecha,salario,valor,pais],columns=["fecha","salario","valor","pais"]
df = pd.DataFrame()

In [19]:
df["salario"], df["inflacion"] = salario, valor

In [20]:
df

      salario  inflacion
0    28.360 €      1.706
1    27.570 €      1.450
2    26.028 €      1.939
3    27.292 €      0.911
4    26.922 €      0.585
..        ...        ...
966  29.535 €      1.190
967  31.898 €      1.275
968  37.041 €      2.341
969  37.961 €      2.456
970  35.870 €      2.507

[971 rows x 2 columns]

In [35]:
rslt_df_salario = df_salamedio[df_salamedio['pais'].isin(["Alemania"])]
rslt_df_inflacion = df_infacion[df_infacion['Country Name'].isin(["Alemania"])]

In [43]:
rslt_df_inflacion["Value"][0]

1.706

In [30]:
# Datos de salario original
y = rslt_df_salario["fecha"]
x = rslt_df_salario["salario medio (€)"]

# Calcular el salario segun la inflacion
x2 = x.iloc(0)
# for i in enumerate(rslt_df_salario):

In [2]:
# Prolog - Auto Generated #
import os, uuid, matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt
import pandas
import numpy as np

import sys
sys.tracebacklimit = 0

os.chdir(u'C:/Users/oscar.torresrodrigue/PythonEditorWrapper_a9612394-d96f-4c0b-94ab-9f52a8391caf')
dataset = pandas.read_csv('input_df_6ae024de-77f5-4f3a-bc88-0957fc7bcd99.csv')

plt.figure(figsize=(5.55555555555556,4.16666666666667), dpi=72)
plt.show = lambda args=None,kw=None: matplotlib.pyplot.savefig(str(uuid.uuid1()))
# Original Script. Please update your script content here and once completed copy below section back to the original editing window #
# El código siguiente, que crea un dataframe y quita las filas duplicadas, siempre se ejecuta y actúa como un preámbulo del script: 

# dataset = pandas.DataFrame(salario medio (€), Value, fecha)
# dataset = dataset.drop_duplicates()

# Pegue o escriba aquí el código de script:



# Epilog - Auto Generated #
os.chdir(u'C:/Users/oscar.torresrodrigue/PythonEditorWrapper_a9612394-d96f-4c0b-94ab-9f52a8391caf')

dataset = dataset.dropna().sort_values(["pais","fecha"])

dataset

       Value  salario medio (€)   fecha      pais
1116  10.570            34400.0  2000.0  Alemania
1030   6.666            35200.0  2001.0  Alemania
1013   6.142            36400.0  2002.0  Alemania
1004   5.776            37200.0  2003.0  Alemania
1104   9.841            38100.0  2004.0  Alemania
...      ...                ...     ...       ...
1049   7.549             8586.0  2018.0   Turquía
1078   8.554             9727.0  2019.0   Turquía
779    3.127             9055.0  2020.0   Turquía
1042   7.330             8275.0  2021.0   Turquía
1132  12.036             7889.0  2022.0   Turquía

[971 rows x 4 columns]

In [5]:
# plt.close()
# Datos

dato = dataset[dataset['pais'].isin(["Alemania"])].reset_index()
dato = dato.drop("index",axis=1)

y = dato["fecha"]
x = dato["salario medio (€)"]

y_array = np.array(y)
x_array = np.array(x)

# Obtener datos del salario respecto a la inflacion
x2 = []
for index, salario in enumerate(dato["salario medio (€)"]):
    if index == 0:
        x2.append(salario)
        continue
    inflacion = dato["Value"][index] 
    x2.append(salario*(1+(inflacion/100)))

# Gráfico de líneas
y_list = y.to_numpy().tolist()

plt.figure(figsize=(8,6))
fig, ax = plt.subplots()
# ax.plot(x, y, marker = "o", markersize = 5)
ax.plot(x_array, y_array, marker = "o", markersize = 5)

plt.show()
# plt.savefig("C:\Users\oscar.torresrodrigue\GitHub\BigData-IA\BigData\Proyecto\archivo.png")
# y_list

In [105]:
# type(y)
type(x_array)

numpy.ndarray

In [97]:
y_array

array([2000., 2001., 2002., 2003., 2004., 2005., 2006., 2007., 2008.,
       2009., 2010., 2011., 2012., 2013., 2014., 2015., 2016., 2017.,
       2018., 2019., 2020., 2021., 2022.])

In [4]:
valoresY = [50,25,30,29,40,45]
valoresX = [10,20,30,40,50,60]
fig, ax = plt.subplots()
plt.plot(valoresX, valoresY, "D-m")
plt.show()

In [2]:
import pandas as pd

salarios = [["España","24500","2023"],
            ["Francia","30000","2023"],
            ["Croacia","44000","2023"],
            ["Portugal","27500","2023"],
            ["Alemania","60000","2023"]]

columnas = ["pais","salario","fecha"]

df = pd.DataFrame(salarios,columns=columnas)
print(df)

       pais salario fecha
0    España   24500  2023
1   Francia   30000  2023
2   Croacia   44000  2023
3  Portugal   27500  2023
4  Alemania   60000  2023